.cards__text {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
  cursor: pointer;
}

@media screen and (max-width: 749px) {
  .cards__list {
    justify-content: center;
  }
}
