.header {
  display: flex;
  align-items: center;
  max-width: 1360px;
  width: 100%;
  padding: 32px 0 28px;
}

.header__add-clothes-btn {
  margin-left: auto;
  width: 116px;
  height: 24px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.header__user-container {
  display: flex;
  margin-left: auto;
  align-items: center;
  /* max-width: 369px; */
  height: 28px;
}

.header__logo {
  width: 89px;
  height: 40px;
  margin: 11px 24px 5px 0;
  padding: 0;
}

.header__date {
  width: 160px;
  height: 24px;
  margin: 11px 0 5px;
  padding: 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  columns: #000;
}

.header__username {
  width: 157px;
  height: 25px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* margin: 0 12px 0 20px; */
  padding-right: 12px;
}

.header__avatar {
  width: 40px;
  height: 40px;
  padding-top: 10px;
}

.header__link {
  display: flex;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  padding-left: 20px;
}

.header__register-btn {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.header__login-btn {
  margin-left: 20px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
