.sidebar {
  display: flex;
  max-width: 229px;
  max-height: 56px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.sidebar__username {
  width: 157px;
  height: 25px;
  margin: 16px 0 15px 16px;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
