.sidebar {
  display: flex;
  max-width: 229px;
  max-height: 56px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar__username {
  width: 157px;
  height: 25px;
  margin: 16px 0 15px 16px;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
}

.sidebar__edit-profile {
  width: 229px;
  height: 25px;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.sidebar__log-out {
  width: 229px;
  height: 25px;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  border: none;
  margin: 8px 0 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.sidebar__options {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  margin-top: 74px;
}
